body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: aqua;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-height: 100vh;
  width: auto;
  text-align: center;
}

.digitalCardBG {
  width: 100%;
  display: block;
  margin: auto auto;
}

.twitterBtn {
  position: absolute;
  margin: 112% auto auto -42.5%;
  width: 40%;
}

.youTubeBtn {
  position: absolute;
  margin: 112% auto auto 2.5%;
  width: 40%;
}

.fbBtn {
  position: absolute;
  margin: 122.5% auto auto -42.5%;
  width: 40%;
}

.instaBtn {
  position: absolute;
  margin: 122.5% auto auto 2.5%;
  width: 40%;
}

.webBtn {
  position: absolute;
  margin: 135% auto auto -25%;
  width: 50%;
  cursor: pointer;
}

.shareBtn {
  position: absolute;
  margin: 150% auto auto -18%;
  width: 36%;
  cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .digitalCardBG {
    width: 720px;
  }

  .twitterBtn {
    margin: 798px auto auto -310px;
    width: 300px;
  }

  .youTubeBtn {
    margin: 798px auto auto 10px;
    width: 300px;
  }

  .fbBtn {
    margin: 870px auto auto -310px;
    width: 300px;
  }

  .instaBtn {
    margin: 870px auto auto 10px;
    width: 300px;
  }

  .webBtn {
    margin: 990px auto auto -158px;
    width: 316px;
  }

  .shareBtn {
    margin: 1070px auto auto -90px;
    width: 180px;
  }
}
